/* Base Styles */

:root {
    font-size: 10px;
   
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    height: 250px;
    width: 250px;
    
}
    
.container {
   
    
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1000px;
    border: 1px solid black;
}

.profile-image img {
    
    justify-content: start;
    border: 12px solid rgb(23, 34, 23);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.profile-user-settings  {
    align-self: center;
    margin-top: -280px;
}

.btn-profile-edit-btn {
    height: 20px;
    
}

.btn-profile-settings-btn {
    height: 20px;

}

.profile-stats {
   
    align-self: center;
}
.profile-bio {
    
    align-self: center;
    margin-bottom: 70px;
    
}